/* div p:first-child{
    background-color: yellow;
    color:red;
} */

div :nth-child(1){
    background-color: yellow;
    color: red;
}

.blue-white{
    background-color: blue;
    color: white;
}